<div
  class="w3-modal-content w3-card-4 w3-animate-zoom"
  style="  max-width: 800px; padding-left: 15px; " 
  
>
<div class="w3-center">
    <br />
    <!--  -->
    <span
    (click)="cerrarModal()"
      class="w3-button w3-xlarge w3-hover-red w3-display-topright"
      title="Close Modal"
      style="position: absolute;"
      >&times;</span
    >
    <!-- <img
      src="../../../../../assets/administraccion.svg"
      alt="Avatar"
      style="width: 30%"
      class="w3-circle w3-margin-top"
    /> -->
  </div>


  <section class="contenedor-componente " style="padding-left: 10px;" >
    <div class="cardview"  >
  
  
      <div class="searchInpt">
        
  
        <div class="col-3 input-effect">
          <input class="effect-21" type="text" placeholder="">
          <label>Search</label>
          <span class="focus-border">
            <i></i>
          </span>
        </div>
      </div>
      <div class="cardview-body"  style=" overflow: scroll;">
        <div class="header-table">
           <div>#</div> 
          <div>Nombre</div>
          <div>Correo</div>
          <!-- <div >Fraccionamiento</div> -->
          <!-- <div>Superficie</div> -->
          <!-- <div>Balance</div> -->
          <div>Celular</div>
  
          <!-- <div>Propietario</div>
           <div>Archivo Prdl.</div>
          <div>Frcc.</div>
          <div>Opcion</div> -->
        </div>
        <div class="body-table">
          <div class="contenedor-element-table" *ngFor="let propietarios of propietariosData"  (click)="selectInquilino(propietarios)"  >
            <!-- <div>{{ propiedad.id }}</div> -->
            <div>{{ propietarios.id}}</div>
            <div >{{ propietarios.nombre }}</div>
            <div > {{ propietarios.correo }}</div>
            <!-- <div>{{ propiedad.superficie }}</div> -->
            <!-- <div>{{ propiedad.balance }}</div> -->
            <!-- <div >{{ propietarios.fraccionamientoId }}</div> -->
  
            <div >{{ propietarios.celular }}</div>
            <!-- <div>{{ propiedad.predialUrl }}</div> -->
            <!-- <div>{{ propiedad.fraccionamientoId }}</div>
            <div>delete</div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

  


</div>