.contenedor-componente 
.cardview {
    max-width: none;
}

.header-table {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.body-table .contenedor-element-table {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.body-table .contenedor-element-table div {
    max-width: none;
}