.w3-modal .w3-modal-content .contenedor-componente .cardview {
  max-width: none;
}

.header-table {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.body-table .contenedor-element-table {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.body-table .contenedor-element-table div {
  max-width: none;
}

.form .contenedor-botones {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.input-group {
  position: relative;
}

.input-group-addon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #ccc;
  cursor: pointer;
}

.input-group-addon:hover {
  color: #333;
}

.modal {
  padding: 20px;
}

h2 {
  font-size: 17pt;
  font-style: bold;
  text-align: center;
  margin-bottom: 20px;

  border: 1px solid;
  padding: 5px 0;
}
