<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width: 800px; padding-left: 15px">
  <div class="w3-center">
    <br />
    <!--  -->
    <span (click)="cerrarModal()" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal"
      style="position: absolute">&times;</span>
    <img src="../../../../../assets/administraccion.svg" alt="Avatar" style="width: 15%; margin-bottom: 15px"
      class="w3-circle w3-margin-top" />
  </div>
  <div class="cardview" style="margin: 0; padding: 0; padding-right: 15px; padding-bottom: 15px">
    <form class="form" (keydown.enter)="$event.preventDefault()" [formGroup]="formPropiedades"
      (ngSubmit)="enviarModal()">
      <!-- <label for="">Propiedad</label>
                <div class="contenedor-input" style="margin-bottom: 0;">
                    <input type="text" placeholder=" " #claveCatastral (keydown.enter)="searchPropiedad(claveCatastral.value)">
                    <label for="">por clave catastral</label>
                    <label for="">Buscar </label>      
                </div>
                <span *ngIf="idPropietario" style="color: var(--ColorSuccess); font-size: 11px;" for="">Propiedad seleccionada</span> -->
      <div class="contenedor-grid-2">
        <div class="contenedor-input">
          <select formControlName="tipoPropiedadId">
            <!-- <option value="{{tipovehiculo.id}}" *ngFor="let tipovehiculo of tiposvehiculo">{{tipovehiculo.nombre}} </option> -->
            <option value="0">Casa</option>
            <option value="1">Departamento</option>
            <option value="2">Lote</option>
            <option value="3">Otro</option>
          </select>
          <label for="">Tipo</label>
          <p class="smsError"
            *ngIf="formPropiedades.get('tipoPropiedadId')?.touched && formPropiedades.get('tipoPropiedadId')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>

        <!-- <div class="contenedor-input">
                        <input type="button" placeholder=" " formControlName="claveCatastral">
                        <label for="">Tarjeta de circulación</label>
                        <label for="">Ingrese</label>
                    </div> -->

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="claveCatastral" />
          <label for="">Clave Catastral</label>
          <label for="">Ingrese</label>

          <p class="smsError"
            *ngIf="formPropiedades.get('claveCatastral')?.touched && formPropiedades.get('claveCatastral')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="descripcion" />
          <label for="">Descripcion</label>
          <label for="">Ingrese</label>

          <p class="smsError"
            *ngIf="formPropiedades.get('descripcion')?.touched && formPropiedades.get('descripcion')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="superficie" />
          <label for="">Superficie</label>
          <label for="">Ingrese</label>

          <p class="smsError"
            *ngIf="formPropiedades.get('superficie')?.touched && formPropiedades.get('superficie')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="balance" />
          <label for="">Balance</label>
          <label for="">Ingrese</label>

          <p class="smsError"
            *ngIf="formPropiedades.get('balance')?.touched && formPropiedades.get('balance')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>
        <!-- <div class="contenedor-input">
                        <input type="text" placeholder=" " formControlName="propietarioId">
                        <label for="">Propietario</label>
                        <label for="">Ingrese</label>
    
                        <p class="smsError"
                        *ngIf="formPropiedades.get('propietarioId')?.touched && formPropiedades.get('propietarioId')?.errors?.['required']">
                        El campo no puede estar en blanco</p>
                    
                    </div> -->
        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="lote" />
          <label for="">Lote</label>
          <label for="">Ingrese</label>

          <p class="smsError"
            *ngIf="formPropiedades.get('lote')?.touched && formPropiedades.get('lote')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input *ngIf="!propietarioSelect" type="text" placeholder=" " (click)="abrModalPropietarios()"
            formControlName="propietarioId" readonly />
          <input *ngIf="propietarioSelect" type="text" placeholder=" " [value]="
              propietarioSelect.nombre + ' ' + propietarioSelect.apellidos
            " formControlName="propietarioId" (click)="abrModalPropietarios()" readonly />
          <label for="">Propietario</label>
          <label for="">Ingrese</label>
          <span *ngIf="propietarioSelect" class="input-group-addon" (click)="handleClearInput2()">
            <i class="fa fa-times"></i>
          </span>

          <p class="smsError"
            *ngIf="formPropiedades.get('propietarioId')?.touched && formPropiedades.get('propietarioId')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>

        <!-- <div class="contenedor-input">
                     
                        <div class="contenedor-grid-2">
                            <button type="button" (click)="abrModalinquilinos()">AGREGAR INQUILINO</button>
                            <button type="button" (click)="abrModalinquilinos()">AGREGAR INQUILINO</button>
                        </div>
                        
                    </div> -->

        <div class="contenedor-input">
          <input *ngIf="!inquilinoSelect" type="text" placeholder=" " (click)="abrModalinquilinos()"
            formControlName="inquilinoId" readonly />
          <input *ngIf="inquilinoSelect" type="text" placeholder=" "
            [value]="inquilinoSelect.nombre + ' ' + inquilinoSelect.apellidos" formControlName="inquilinoId"
            (click)="abrModalinquilinos()" readonly />
          <label for="">Inquilino</label>
          <label for="">Ingrese</label>
          <span *ngIf="inquilinoSelect" class="input-group-addon" (click)="handleClearInput()">
            <i class="fa fa-times"></i>
          </span>
        </div>

        <!-- <div class="contenedor-input">
                        <input type="text" placeholder=" " formControlName="fraccionamientoId" readonly>
                        <label for="">Fraccionamiento</label>
                        <label for="">Ingrese</label>
    
                        <p class="smsError"
                        *ngIf="formPropiedades.get('fraccionamientoId')?.touched && formPropiedades.get('fraccionamientoId')?.errors?.['required']" >
                        El campo no puede estar en blanco</p>
                    
                    </div> -->
        <div class="contenedor-input">
          <select formControlName="estatusId">
            <!-- <option value="{{tipovehiculo.id}}" *ngFor="let tipovehiculo of tiposvehiculo">{{tipovehiculo.nombre}} </option> -->
            <option value="0">Inactiva</option>
            <option value="1">Activa</option>
          </select>
          <label for="">Estatus</label>
          <p class="smsError"
            *ngIf="formPropiedades.get('estatusId')?.touched && formPropiedades.get('estatusId')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <button type="button" (click)="archivo()">
            Seleccionar archivo predial
          </button>
          <input id="inputfile" style="display: none" type="file" (change)="selectedFilePredial($event)" placeholder=" "
            formControlName="archivoPredial" />

          <p class="smsError"
            *ngIf="formPropiedades.get('archivoPredial')?.touched && formPropiedades.get('archivoPredial')?.errors?.['required']">
            El campo no puede estar en blanco
          </p>
        </div>
      </div>

      <div class="contenedor-botones">
        <button type="button" (click)="cerrarModal()">
          CANCELAR
        </button>
        <button type="submit" [disabled]="formPropiedades.invalid">
          GUARDAR
        </button>
      </div>
    </form>
  </div>
</div>

<app-modal-list-inquilinos id="id0I" class="w3-modal" (inquilinoSeleccionado)="manejarDato($event)"
  [propietariosData]="propietariosDataI" [cerrarModal]="envModalI"></app-modal-list-inquilinos>

<app-modal-list-propietarios id="id0P" class="w3-modal" (inquilinoSeleccionado)="manejarDatoP($event)"
  [propietariosData]="propietariosDataP" [cerrarModal]="envModalP"></app-modal-list-propietarios>