.contenedor-componente .cardview {
    max-width: 773px;
    padding: 24px;
    padding-top: 48px;
}

.form .contenedor-botones {
    padding: 2px;
}


.input-group {
    position: relative;
  }
  
  .input-group-addon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #ccc;
    cursor: pointer;
  }
  
  .input-group-addon:hover {
    color: #333;
  }


  