<div class="contenedor-componente" >
    <div class="l-cardview-content" *ngIf="!existeToken">
        <div class="container-enlace">
            <a routerLink="/auth/login">Iniciar sesion</a>
        </div>
        <div class="header">
            <h1 class="titulo">Recuperar contraseña</h1>
            <p>Para reajustar su contraseña, envíe su dirección de correo electrónico. Si podemos
                encontrarlo en la base de datos, le enviaremos un email con instrucciones para poder acceder de nuevo.</p>
        </div>
        <div class="body">
            <div class="form">
                <div class="header">
                    <h1></h1>
                </div>
                <div class="body">
                    <label for="">Dirección de correo</label>
                    <input type="text" class="form-control" #correoValor placeholder="Ingrese correo">
                    <button class="btn style" id="btnCorreo" (click)="buscarUsuario(correoValor.value ,'correo',$event)">Buscar</button>
                </div>
            </div>
        </div>
        <div class="footer">
    
        </div>
    </div>

    <!--CARDVIEW PARA CAMBIO DE PASSWORD-->
<div class="l-cardview-content" *ngIf="existeToken">
    <div class="header">
        <p>Por favor, introduzca la nueva contraseña y guarde los cambios.</p>
    </div>
    <div class="body">
        <div class="form">
            <div class="header">
                <h1>Establecer contraseña</h1>
            </div>
            <div class="body">
                <label for="">Nueva contraseña</label>
                <input type="password" class="form-control" #password>
               <label for="">Nueva contraseña (de nuevo)</label>
                <input type="password" class="form-control" #repitePassword>
                <button class="btn style l-btn-d" (click)="actualizarPassword(password.value ,repitePassword.value ,$event)" >Guardar cambios</button>
                <button class="btn style l-btn-d" routerLink="/auth/login" >Cancelar</button>
                
            </div>
        </div>
       
    </div>
    <div class="footer">

    </div>
</div>
    
</div>


