
    
    <div class="cardview-body">
      <div class="header-table">
        <div>#</div>
        <div>Tipo de propiedad</div>
        <div>Clave catastral</div>
        <div id="descrpIdn">Descripción</div>
        <!-- <div>Superficie</div> -->
        <!-- <div>Balance</div> -->
        <div>Estatus</div>

        <div>Propietario</div>
      
        <!-- <div>Frcc.</div> -->
        <!-- <div>Opcion</div> -->
      </div>
      <div class="body-table">
        <div class="contenedor-element-table" *ngFor="let propiedad of propiedadesData" (click)="abrirModal(propiedad)">
          <div>{{ propiedad.id }}</div>
          <div>{{ propiedad.tipoPropiedad.descripcion }}</div>
          <div >{{ propiedad.claveCatastral }}</div>
          <div id="descrpIdn" > {{ propiedad.descripcion }}</div>
          <!-- <div>{{ propiedad.superficie }}</div> -->
          <!-- <div>{{ propiedad.balance }}</div> -->
          <div id="descrpIdn2"  >{{ propiedad.estatus }}</div>

          <div>{{ propiedad.propietario.nombre }}</div>
          
          <!-- <div>{{ propiedad.fraccionamientoId }}</div> -->
          <!-- <div>delete</div> -->
        </div>
      </div>
    </div>


<div *ngIf="this.currentPropiedad">
  <app-modal-list-propiedades id="id01" class="w3-modal" [cerrarModal]="envModal"
    [propiedadDatos]="this.currentPropiedad"></app-modal-list-propiedades>
</div>


<app-modal-registro-propiedad id="id02" class="w3-modal" [cerrarModal]="envModal2"></app-modal-registro-propiedad>

<div *ngIf="!this.currentPropiedad">
  <app-modal-list-propiedades id="id01" class="w3-modal" [cerrarModal]="envModal"></app-modal-list-propiedades>
</div>