<div class="container">
    <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Job Id</div>
        <div class="col col-2">Customer Name</div>
        <div class="col col-3">Amount Due</div>
        <div class="col col-4">Payment Status</div>
        <div class="col col-5">Amount Due</div>
        <div class="col col-6">Payment Status</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">42235</div>
        <div class="col col-2" data-label="Job Id">42235</div>
        <div class="col col-3" data-label="Job Id">42235</div>
        <div class="col col-4" data-label="Customer Name">John Doe</div>
        <div class="col col-5" data-label="Amount">$350</div>
        <div class="col col-6" data-label="Payment Status">   <input class="button-9" type="button" role="button" value="EDIT"  onclick="document.getElementById('id01').style.display='block'"> <input class="button-elm" type="button" role="button" value="DELETE"></div>
      </li>

    </ul>
  </div>




 
<body  class="modal fade show" tabindex="-1" role="dialog" style="display: block;" (click)="closeModal()">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
  
        <div class="w3-center"><br>
          <span onclick="closeModal()" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
          <img src="../../../../../assets/administraccion.svg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
        </div>
  
        <form class="w3-container" [formGroup]="form" (submit)="enviarModal()">
          <div class="w3-section">
            <label><b>Nombre</b></label>
            <input class="w3-input w3-border w3-margin-bottom"  formControlName="nombre" type="text" placeholder="Enter Username" name="usrname" required>
            <label><b>Contacto</b></label>
            <input class="w3-input w3-border" type="number"  formControlName="contacto" placeholder="Enter Password" name="psw" required>
            <label><b>Propiedad</b></label>
            <input class="w3-input w3-border" type="text"  formControlName="propiedad" placeholder="Enter Password" name="psw" required>
            <label><b>Propiedad</b></label>
            <input class="w3-input w3-border" type="text"  formControlName="propiedad" placeholder="Enter Password" name="psw" required>
            <label><b>Propiedad</b></label>
            <input class="w3-input w3-border" type="text"  formControlName="propiedad" placeholder="Enter Password" name="psw" required>
            <label><b>Propiedad</b></label>
            <input class="w3-input w3-border" type="text"  formControlName="propiedad" placeholder="Enter Password" name="psw" required>
            <label><b>Propiedad</b></label>
            <input class="w3-input w3-border" type="text"  formControlName="propiedad" placeholder="Enter Password" name="psw" required>
            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit" onclick="document.getElementById('id01').style.display='none'" (click)="enviarModal()">Enviar</button>
          </div>
        </form>
      </div>
    </div>        
</body>

