
   
    <table id="principal">
      <tr>
        <th>Nombre(s)</th>
        <th>Contacto</th>
        <th>Propiedad</th>
      </tr>
    <tr>
     
    </tr>
  
    
  <!--       
    <tr  *ngFor="let usuario of usuarios"  
    (click)="abrirModal(usuario.id, usuario.nombre, usuario.apellido, usuario.correo, usuario.propiedad)"  
    onclick="document.getElementById('id01').style.display='block'">
    
      <td>{{usuario.nombre}} {{usuario.apellido}}</td>
      <td>{{usuario.correo}}</td>
      <td>{{usuario.propiedad}}</td>
    
    </tr> -->
    
  
        <tr (click)="abrirModal()">
          <td>Paris spécialités</td>
          <td>alfred@gmail.com</td>
          <td>France</td>
        </tr>
  
  
        
    </table>
  
  




 
  <!-- <body  class="modal fade show" tabindex="-1" role="dialog" style="display: block;" (click)="closeModal()"></body>   -->
<app-modal-list-propiedades id="id01" class="w3-modal" [cerrarModal]="envModal"></app-modal-list-propiedades>

