<section class="contenedor-componente">
  <div class="cardview">
    <div class="searchInpt">
      <div class="cardview-header">
        <button class="l-btn-d" [routerLink]="'/dashboard/egresos/regEgreso'">+ REGISTRAR EGRESO</button>

        <button  style="margin-left: 20px;" class="l-btn-d"
        
        (click)="showModal = true"
        (keydown.enter)="searchTipoEgfreso(null, null)"
        >Tipos de egresos</button>
      </div>

      <div class="col-3 input-effect search">
        <input class="effect-21" type="text" placeholder="">
        <label>Search</label>
        <span class="focus-border">
          <i></i>
        </span>
      </div>
    </div>
    <div class="cardview-body">
      <div class="header-table">
        <div>Folio del egreso</div>
        <div>Monto</div>
        <div>Verificado</div>
        <div>Estado del egreso</div>
      </div>
    </div>

    <div class="body-table">
      <div  class="contenedor-element-table" [routerLink]="'gestionEgreso/' + egresos.id" (click)="GestionEgreso(egresos)" *ngFor="let egresos of listaEgresos">
        <div>{{egresos.id}}</div>
        <div>${{egresos.montoTotal}}</div>
        <div>{{egresos.isVerified === 0 ? 'NO' : 'SI'}}</div>
        <div>{{egresos.estatusEgreso.descripcion}}</div>
      </div>
    </div>

    
  </div>

</section>





<!-- ? MODAL PARA MOSTRAR LAS PROPIEDADES Y PODER SELECCIONAR ALGUNA  -->
<div class="container-modal" *ngIf="showModal" (click)="showModal = false">
  <div class="modal" (click)="$event.stopPropagation()">
      <div class="header">
          <button (click)="showModal = false">
              <i class="fa-solid fa-xmark"></i>
          </button>
          <input type="search" #search placeholder="Buscar" (keyup)="searchTipoEgfreso(search.value, $event)" />
      </div>
      <div class="body">
          <div class="header-table">
              <div>Descripcion</div>
              <div>Proveedor</div>
              <div>Status</div>
    

              <!-- <div>Cantidad</div> -->
          </div>
          <div class="body-table">
              <div class="contenedor-element-table" *ngFor="let tipoEgreso of tipoEgresos"
                  (click)="selectTipoEgreso(tipoEgreso)">
                  <div>
                      <p title="{{ tipoEgreso.descripcion }}">{{ tipoEgreso.descripcion }}</p>
                  </div>
                  <div *ngIf=" tipoEgreso.proveedorDefault" >
                      <p title="{{ tipoEgreso.proveedorDefault.correoContacto }}">
                          {{ tipoEgreso.proveedorDefault.correoContacto }}
                      </p>
                  </div>

                  <div *ngIf="!tipoEgreso.proveedorDefault" >
                    <p title="No se asigno">
                        No asignado
                    </p>
                </div>
                  <div>
                      <p title="{{ tipoEgreso.status }}">
                          {{ tipoEgreso.status }}
                      </p>
                  </div>

                  <!-- <div><p title="{{producto.cantidad}}">{{producto.cantidad}}</p></div> -->
              </div>
          </div>
      </div>
      <div class="footer"></div>
  </div>
</div>




<div *ngIf="this.tipoEgresoSelect">
  <app-modal-gestion-tipo-egreso id="id01" class="w3-modal" [cerrarModal]="envModal"
    [tipoDeEgresosDatos]="this.tipoEgresoSelect"></app-modal-gestion-tipo-egreso>
</div>