#principal {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
   
  }
  
  #principal td, #principal th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #principal tr:nth-child(even){background-color: #f2f2f2;}
  
  #principal tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  #principal th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  rgb(8, 67, 134);
    color: white;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0dada;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="number"],
  input[type="date"],
  input[type="text"] {
    width: 95%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
  }
  
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  input:invalid {
    border-color: red;
  }
  
  .div-tabla {
    margin-left: 70px;
   
    padding: 10px;
}

.contenedor-componente 
.cardview {
    max-width: none;
}

.header-table {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.body-table .contenedor-element-table {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.body-table .contenedor-element-table div {
    max-width: none;
}