<section class="contenedor-componente">
  <div class="cardview">
    <div class="searchInpt">
      <div class="cardview-header">
        <button class="l-btn-d" [routerLink]="'/dashboard/'">+ REGISTRAR CONFIGURACION DE PAGO</button>
      </div>

      <div class="col-3 input-effect">
        <input class="effect-21" type="text" placeholder="">
        <label>Search</label>
        <span class="focus-border">
          <i></i>
        </span>
      </div>
    </div>
    <div class="cardview-body">
      <div class="header-table">
        <div>Folio del egreso</div>
        <div>Monto</div>
        <div>Verificado</div>
        <div>Estado del egreso</div>
      </div>
    </div>

    <div class="body-table">
      <div  class="contenedor-element-table" [routerLink]="'gestionEgreso/' + egresos.id" (click)="GestionEgreso(egresos)" *ngFor="let egresos of listaEgresos">
        <div>{{egresos.id}}</div>
        <div>${{egresos.montoTotal}}</div>
        <div>{{egresos.isVerified === 0 ? 'NO' : 'SI'}}</div>
        <div>{{egresos.estatusEgreso.descripcion}}</div>
      </div>
    </div>
  </div>

</section>

