<div
  class="w3-modal-content w3-card-4 w3-animate-zoom"
  style="max-width: 600px; "
>
  <div class="w3-center">
    <br />
    <span
      (click)="cerrarModal()"
      class="w3-button w3-xlarge w3-hover-red w3-display-topright"
      title="Close Modal"
      >&times;</span
    >
    
    <img
      src="../../../../../assets/administraccion.svg"
      alt="Avatar"
      style="width: 30%"
      class="w3-circle w3-margin-top"
    />
  </div>

  <form
    class="w3-container"
    [formGroup]="formPropiedades"
    (submit)="enviarModal()"
  >
    <div class="w3-section">
      <!-- <label><b>#</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="id"
        [value]="propiedadDatos?.id"
        type="text"
        placeholder="Ingresa Tipo de Propiedad"
        required
        readonly
      /> -->

      <label><b>Tipo Propiedad</b></label>
      <!-- <input
        class="w3-input w3-border w3-margin-bottom"
        id="tipoPropiedadId"
        formControlName="tipoPropiedadId"
        type="text"
        placeholder="Ingresa Tipo de Propiedad"
        required
      /> -->

      <select 
      class="w3-input w3-border w3-margin-bottom"
      id="tipoPropiedadId"
      formControlName="tipoPropiedadId"
      type="text"
      placeholder="Ingresa Tipo de Propiedad"
      required
      >
      <option disabled selected value="-1">Elije un tipo</option>
      <option value="0">Casa</option>
      <option value="1">Departamento</option>
      <option value="2">Lote</option>
      <option value="3">Otro</option>
    </select>

      <label><b>Clave Catastral</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="claveCatastral"
        formControlName="claveCatastral"
        type="text"
        placeholder="Ingresa la Clave catastral"
        required
      />

      <label><b>Descripcion</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="descripcion"
        formControlName="descripcion"
        type="text"
        placeholder="Ingresa descripcion"
        required
      />

      <label><b>Superficie</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="superficie"
        formControlName="superficie"
        type="text"
        placeholder="Ingresa superficie"
        required
      />

      <label><b>Balance</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="balance"
        formControlName="balance"
        type="text"
        placeholder="Ingresa balance"
        required
      />

      <label><b>Estatus</b></label>
      <select 
      class="w3-input w3-border w3-margin-bottom"
      id="estatusId"
      formControlName="estatusId"
      type="text"
      placeholder="Ingresa Estatus"
      required
      >
      <option  disabled selected value="-1">Elije el estatus</option>
      <option value="0">Nueva</option>
      <option value="1">Balance Pendiente</option>
      <option value="2">Incompleta</option>
      <option value="3">Activa</option>
    </select>
      <!-- <input
        class="w3-input w3-border w3-margin-bottom"
        id="estatusId"
        formControlName="estatusId"
        type="text"
        placeholder="Ingresa Estatus"
        required
      /> -->

      <label><b>Propietario</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="propietarioId"
        formControlName="propietarioId"
        type="text"
        placeholder="Ingresa propietario"
        required
      />

      <!-- <ng-container *ngIf="this.propiedadDatos?.inquilino == null">
    </ng-container> -->
    <label><b>Inquilino</b></label>
  <!-- <input class="w3-input w3-border w3-margin-bottom" id="inquilinoId" value="PROPETARIO" formControlName="inquilinoId" type="text" placeholder="Ingresa Inquilino" required>
          -->
   <input type="button" class="w3-input w3-border w3-margin-bottom" value="AGREGAR" />

      <!-- <ng-container *ngIf="this.propiedadDatos?.inquilino != null">
        <label><b>Inquilino</b></label>
        <input
          class="w3-input w3-border w3-margin-bottom"
          id="inquilinoId"
          formControlName="inquilinoId"
          type="text"
          placeholder="Ingresa Inquilino"
          required
        />
      </ng-container> -->

      <label><b>Fraccionamiento</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="fraccionamientoId"
        formControlName="fraccionamientoId"
        type="text"
        placeholder="Ingresa Fraccionamiento"
        required
      />

      <label><b>Archivo Predial</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="fraccionamientoId"
        formControlName="archivoPredial"
        type="file"
        placeholder="Ingresa Fraccionamiento"
        required
      />

      <!-- <label><b>Archivo predial</b></label>
      <input
        class="w3-input w3-border w3-margin-bottom"
        id="archivoPredial"
        formControlName="archivoPredial"
        type="text"
        placeholder="Ingresa archivo predial"
        required
      /> -->

      <input
        class="w3-button w3-block w3-green w3-section w3-padding"
        type="submit"
        (click)="cerrarModal()"
        value="Enviar"
      />
    </div>
  </form>
</div>
