<section class="contenedor-componente">
    <div class="cardview" >


        <div class="cardview-header" >
            <button class="l-btn-d" routerLink="/dashboard/vehiculos/registro">+ REGISTRAR VEHICULO</button>
        </div>

        <div class="cardview-body" >
            <div class="header-table" >
                <div>Descripción</div>
                <div>Placas</div>
                <div>Color</div>
                <div>opc</div>
            </div>
            <div class="body-table">
             
                <div class="contenedor-element-table" *ngFor="let vehiculo of vehiculos" routerLink='/dashboard/vehiculos/editar/{{vehiculo.id}}'>
                    <div>{{vehiculo.marca}}</div>
                    <div>{{vehiculo.placas}}</div>
                    <div>{{vehiculo.color}}</div>
                    <div>delete</div>
                </div>
            </div>
        </div>
    </div>
</section>
