<section class="contenedor-componente">
    <div class="cardview">
      <div class="cardview-header">
        <button
          class="l-btn-d"
          onclick="document.getElementById('id01').style.display='block'"
          (click)="nuevoInterfon()"
        >
          + REGISTRAR NUEVO Interfon
        </button>

        <div class="container-filtros" >
          <div class="filtro"style="display: none;" >
         
          </div>
          <div class="filtro"style="display: none;" >
         
          </div>
          <div class="filtro"style="display: none;" >
         
          </div>
          <!-- <div class="filtro">
            <label for="">Tipo</label>
            <select (change)="onSelectChangeTipoVehiculo($event)">
              <option value="0">Todos los tipos</option>
              <option value="{{tipovehiculo.id}}" *ngFor="let tipovehiculo of tiposvehiculo">{{tipovehiculo.nombre}}
              </option>
            </select>
          </div> -->
          <div class="container-search">
            <a style="cursor: pointer;" (click)="animacionSearch()"><img
                src="../../../../../../assets/magnifying-glass-solid.svg" width="20px" height="20px" alt=""></a>
            <input id="inputSearch" type="text" placeholder="Buscar" name="" #search
              (keyup)="searchInterfon(search.value, $event )">
            <a style="cursor:pointer;" class="cerrarInputSearch" (click)="cerrarAnimacioneSearch()"><img
                src="../../../../../../assets/xmark-solid (1).svg" width="20px" height="20px" alt=""></a>
          </div>
        </div>
      </div>
      <div class="cardview-body">
        <div class="header-table">
          <div>Código interfon</div>
          <div>Tipo de propiedad</div>
          <div>Numero Interfon</div>
          <div>Lote</div>
        </div>
      </div>
  
      <div class="body-table">
        <div
          class="contenedor-element-table"
          *ngFor="let data of listaPropiedades"
          onclick="document.getElementById('id01').style.display='block'"
          (click)="enviarDatosAlModal(data.id)"

        >
          <div >{{data.interfones[0]?.codigoInterfon === null ? 'No cuenta con codigo Interfon' :data.interfones[0]?.codigoInterfon }}</div>
          <div>{{data.tipoPropiedad.descripcion }}</div>
          <div>{{data.interfones[0]?.numeroInterfon === null ? 'No cuenta con numero Interfon' :data.interfones[0]?.numeroInterfon }}</div>
          <div>{{data.lote }}</div>
        </div>
      </div>
    </div>
  </section>
  
  <body>
    <div id="id01" class="w3-modal ">
      <div
        class="w3-modal-content w3-card-4 w3-animate-bottom modal"
        style="max-width: 400px"
      >
        <h2>REGISTRAR INTERFON</h2>
        <div
          class="cardview"
        >
          <form class="form" [formGroup]="formInterfones">
            <div class="contenedor-grid-1">
  
              <div class="contenedor-input">
                <input type="text" formControlName="numeroInterfon" placeholder=" " />
                <label for="">Numero Interfon</label>
              </div>

              <div class="contenedor-input">
                <input type="text" formControlName="codigoInterfon" placeholder=" " />
                <label for="">Código Interfon</label>
              </div>
  
              <div class="contenedor-input">
                <select formControlName="propiedadId">
                  <option
                    *ngFor="let propiedades of listaPropiedades"
                    value="{{ propiedades.id }}"
                  >
                        Lote: {{ propiedades.lote }}
                  </option>
                </select>
                <label for="">Lote del Interfon</label>
              </div>

            </div>
  
            <div class="contenedor-botones">
              <button
                type="button"
                onclick="document.getElementById('id01').style.display='none'"
              >
                CANCELAR
              </button>
              <button
                type="submit"
                (click)="cambiarInterfon()"
                onclick="document.getElementById('id01').style.display='none'"
              >
                GUARDAR
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  