<div
  class="w3-modal-content w3-card-4 w3-animate-zoom"
  style="max-width: 600px; padding: 25px 35px"
>
  <div class="w3-center">
    
    <!--  -->
    <h3>Modificar Propietario</h3>
    <span
      (click)="cerrarModal()"
      class="w3-button w3-xlarge w3-hover-red w3-display-topright"
      title="Close Modal"
      style="position: absolute"
      >&times;</span
    >
  </div>

  <div class="cardview" style=" box-shadow:none">
    <form
      class="form"
      (keydown.enter)="$event.preventDefault()"
      [formGroup]="FormPropietarios"
      (ngSubmit)="enviarModal()"
    >
      <div class="contenedor-grid-2">
        <!-- <div class="contenedor-input">
                <input type="text" placeholder=" " formControlName="id">
                <label for="">ID</label>
                <label for="">Ingrese</label>
                <p class="smsError" *ngIf="FormPropietarios.get('id')?.touched && FormPropietarios.get('id')?.errors?.['required']">
                  El campo no puede estar en blanco</p>
              </div> -->

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="nombre" />
          <label for="">Nombre</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="FormPropietarios.get('nombre')?.touched && FormPropietarios.get('nombre')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="apellidos" />
          <label for="">Apellidos</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="FormPropietarios.get('apellidos')?.touched && FormPropietarios.get('apellidos')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="correo" />
          <label for="">Correo electrónico</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="FormPropietarios.get('correo')?.touched && FormPropietarios.get('correo')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="telefonoFijo" />
          <label for="">Teléfono fijo</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="FormPropietarios.get('telefonoFijo')?.touched && FormPropietarios.get('telefonoFijo')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="celular" />
          <label for="">Celular</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="FormPropietarios.get('celular')?.touched && FormPropietarios.get('celular')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>
        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="celularAlt" />
          <label for="">Celular alternativo</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="FormPropietarios.get('celularAlt')?.touched && FormPropietarios.get('celularAlt')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>
        <!-- <div class="contenedor-input">
                <input type="text" placeholder=" " formControlName="claveInterfon">
                <label for="">Clave interfon</label>
                <label for="">Ingrese</label>
                <p class="smsError" *ngIf="FormPropietarios.get('claveInterfon')?.touched && FormPropietarios.get('claveInterfon')?.errors?.['required']">
                  El campo no puede estar en blanco</p>
              </div>
              <div class="contenedor-input">
                <input type="text" placeholder=" " formControlName="claveInterfonAlt">
                <label for="">Clave interfon alternativa</label>
                <label for="">Ingrese</label>
                <p class="smsError" *ngIf="FormPropietarios.get('claveInterfonAlt')?.touched && FormPropietarios.get('claveInterfonAlt')?.errors?.['required']">
                  El campo no puede estar en blanco</p>
              </div> -->

        <!-- <div class="contenedor-input">
                <input type="text" placeholder=" " formControlName="identificacionUrl">
                <label for="">Identificacion</label>
                <label for="">Ingrese</label>
                <p class="smsError" *ngIf="FormPropietarios.get('identificacionUrl')?.touched && FormPropietarios.get('identificacionUrl')?.errors?.['required']">
                  El campo no puede estar en blanco</p>
              </div> -->
<!-- 
        <div class="contenedor-input">
          <a
            [href]="api + 'private-files/' + propietarioDatos.identificacionUrl"
            *ngIf="propietarioDatos.identificacionUrl"
            target="_blank"
            (click)="archivo()"
          >
            <i class="fas fa-file fa-2x"></i>
          </a>
          <br />
          <button type="button" (click)="archivo()">
            Seleccionar archivo predial
          </button>
          <input
            id="inputfile"
            style="display: none"
            type="file"
            (change)="selectedFilePredial($event)"
            placeholder=" "
            formControlName="identificacionUrl"
          />

          <p
            class="smsError"
            *ngIf="FormPropietarios.get('identificacionUrl')?.touched && FormPropietarios.get('identificacionUrl')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div> -->
        <!-- <div class="contenedor-input">
                <input type="text" placeholder=" " formControlName="isInquilino">
                <label for="">Inquilino</label>
                <label for="">Seleccione</label>
                <p class="smsError" *ngIf="FormPropietarios.get('isInquilino')?.touched && FormPropietarios.get('isInquilino')?.errors?.['required']">
                  El campo no puede estar en blanco</p>
              </div> -->

        <div class="contenedor-input">
          <select formControlName="isInquilino">
            <!-- <option value="{{tipovehiculo.id}}" *ngFor="let tipovehiculo of tiposvehiculo">{{tipovehiculo.nombre}} </option> -->
            <option value="0">PROPIETARIO</option>
            <option value="1">INQUILINO</option>
          </select>
          <label for="">Tipo Propietario</label>
          <p
            class="smsError"
            *ngIf="FormPropietarios.get('isInquilino')?.touched && FormPropietarios.get('isInquilino')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>

        <!-- <div class="contenedor-input">
              <input *ngIf="!propietarioSelect" type="text" placeholder=" " (click)="abrModalPropietarios()"
                formControlName="propietarioId" readonly>
              <input *ngIf="propietarioSelect" type="text" placeholder=" "
                [value]="propietarioSelect.nombre +' ' +  propietarioSelect.apellidos" formControlName="propietarioId"
                (click)="abrModalPropietarios()" readonly>
              <label for="">Propietario</label>
              <label for="">Ingrese</label>
              <span *ngIf="propietarioSelect" class="input-group-addon" (click)="handleClearInput2()">
                <i class="fa fa-times"></i>
              </span>
    
              <p class="smsError"
                *ngIf="FormPropietarios.get('propietarioId')?.touched && FormPropietarios.get('propietarioId')?.errors?.['required']">
                El campo no puede estar en blanco</p>
    
            </div>
     -->

        <!--   
            <div class="contenedor-input">
              <input *ngIf="!inquilinoSelect" type="text" placeholder=" " (click)="abrModalinquilinos()"
                formControlName="inquilinoId" readonly>
              <input *ngIf="inquilinoSelect" type="text" placeholder=" "
                [value]="inquilinoSelect.nombre +' ' +  inquilinoSelect.apellidos" formControlName="inquilinoId"
                (click)="abrModalinquilinos()" readonly>
              <label for="">Inquilino</label>
              <label for="">Ingrese</label>
              <span *ngIf="inquilinoSelect" class="input-group-addon" (click)="handleClearInput()">
                <i class="fa fa-times"></i>
              </span>
    
            </div> -->

        <!-- <div class="contenedor-input">
              <button type="button" (click)="archivo()">Seleccionar archivo predial</button>
              <input id="inputfile" style="display: none;" type="file" (change)="selectedFilePredial($event)"
                placeholder=" " formControlName="archivoPredial">
    
    
              <p class="smsError"
                *ngIf="FormPropietarios.get('archivoPredial')?.touched && FormPropietarios.get('archivoPredial')?.errors?.['required']">
                El campo no puede estar en blanco</p>
    
            </div> -->
      </div>

      <div class="contenedor-botones">
        <button type="button" (click)="cerrarModal()">CANCELAR</button>
        <button type="submit" [disabled]="FormPropietarios.invalid">
          GUARDAR
        </button>
      </div>
    </form>
  </div>
</div>
