<section class="contenedor-componente">
    <div class="cardview">
        
            <form  class="form" (keydown.enter)="$event.preventDefault()" [formGroup]="vehiculoFormRegistro" (ngSubmit)="updateVehiculo()">

                <div class="contenedor-grid-2">
                    <div class="contenedor-input">
                        <select formControlName="id_tipo_vehiculo">
                            <option value="{{tipovehiculo.id}}" *ngFor="let tipovehiculo of tiposvehiculo">{{tipovehiculo.nombre}} </option>
                         </select>
                        <label for="">Tipo</label>
                        <p class="smsError"
                        *ngIf="vehiculoFormRegistro.get('id_tipo_vehiculo')?.touched && vehiculoFormRegistro.get('id_tipo_vehiculo')?.errors?.['required']">
                        El campo no puede estar en blanco</p>
                    </div>
                    <div class="contenedor-input">
                        <input type="text" placeholder=" " formControlName="color">
                        <label for="">color</label>
                        <label for="">Ingrese</label>
    
                        <p class="smsError"
                        *ngIf="vehiculoFormRegistro.get('color')?.touched && vehiculoFormRegistro.get('color')?.errors?.['required']">
                        El campo no puede estar en blanco</p>
                    
                    </div>
                    <div class="contenedor-input">
                        <select formControlName="id_estado">
                            <option value="{{estado.id}}" *ngFor="let estado of estados">{{estado.nombre}}</option>
                                             </select>
                        <label for="">Estado</label>
                        <p style="color: gray; font-size: 11px; margin-top: 10px;" for="">Selecciona el estado al que pertenecen las placas</p>
                        <p class="smsError"
                        *ngIf="vehiculoFormRegistro.get('id_estado')?.touched && vehiculoFormRegistro.get('id_estado')?.errors?.['required']">
                        El campo no puede estar en blanco</p>
                    </div>
                    
                    <div class="contenedor-input">
                        <button type="button" class="btn-tarjeta-circulacion" (click)="selectFileTarjetaCirculacion()">Tarjeta de circulación</button>
                        <input id="inputFile" type="file" accept="application/pdf" (change)="onFileSelected($event)"  style="display: none;">
                        <!--
                        <label for="">Tarjeta de circulación</label>
                        <label for="">Ingrese</label> -->
                        <a *ngIf="tarjetaCirculacion" style="color: var(--ColorSuccess); font-size: 11px; margin-top: 10px; text-decoration: underline; cursor: pointer;" (click)="downloadTarjetaCirculacion()">Tarjeta de circulacion almacenada</a>
                        <a *ngIf="selectedFile" style="color: var(--ColorWarning); font-size: 11px; text-decoration: underline;margin-top: 10px; cursor: pointer;" (click)="previewFile()">Tarjeta de circulacion seleccionada</a>    
                        
                       
                    </div> 
                    <div class="contenedor-input">
                        <input type="text" placeholder=" " formControlName="marca">
                        <label for="">marca</label>
                        <label for="">Ingrese</label>
    
                        <p class="smsError"
                        *ngIf="vehiculoFormRegistro.get('marca')?.touched && vehiculoFormRegistro.get('marca')?.errors?.['required']">
                        El campo no puede estar en blanco</p>
                    
                    </div>
                    <div class="contenedor-input">
                        <input type="text" placeholder=" " formControlName="submarca">
                        <label for="">submarca</label>
                        <label for="">Ingrese</label>
    
                        <p class="smsError"
                        *ngIf="vehiculoFormRegistro.get('submarca')?.touched && vehiculoFormRegistro.get('submarca')?.errors?.['required']">
                        El campo no puede estar en blanco</p>
                    
                    </div>
                    <div class="contenedor-input">
                        <input type="text" placeholder=" " formControlName="placas">
                        <label for="">placas</label>
                        <label for="">Ingrese</label>
    
                        <p class="smsError"
                        *ngIf="vehiculoFormRegistro.get('placas')?.touched && vehiculoFormRegistro.get('placas')?.errors?.['required']">
                        El campo no puede estar en blanco</p>
                    
                    </div>
                </div>



                <div class="contenedor-botones">
                    <button type="button" routerLink="/dashboard/vehiculos/listado">CANCELAR</button>
                    <button type="submit" [disabled]="vehiculoFormRegistro.invalid">GUARDAR</button>
                    <button type="button" (click)="eliminarVehiculo()">ELIMINAR</button>
                </div>
            </form>
        </div>
  
</section>

