<div
  class="w3-modal-content w3-card-4 w3-animate-zoom modal"
  style="max-width: 300px; padding-left: 15px"
>
  <div class="w3-center">
    <br />
    <!--  -->
    <span
      (click)="cerrarModal()"
      class="w3-button w3-xlarge w3-hover-red w3-display-topright"
      title="Close Modal"
      style="position: absolute"
      >&times;</span
    >
    <h2>Modificar Producto</h2>
    <!-- <img src="../../../../../assets/administraccion.svg" alt="Avatar" style="width: 15%; margin-bottom: 15px;"
            class="w3-circle w3-margin-top" /> -->
  </div>
  <div
    class="cardview"
    style="margin: 0; padding: 0; padding-right: 15px; padding-bottom: 15px"
  >
    <form
      class="form"
      (keydown.enter)="$event.preventDefault()"
      [formGroup]="formProducto"
      (ngSubmit)="enviarModal()"
    >
      <div class="contenedor-grid-1">
        <div class="contenedor-input">
          <input type="text" placeholder=" " formControlName="descripcion" />
          <label for="">Descripción</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="formProducto.get('descripcion')?.touched && formProducto.get('descripcion')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input
            type="text"
            placeholder=" "
            formControlName="identificador_interno"
          />
          <label for="">Identificador Interno</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="formProducto.get('identificador_interno')?.touched && formProducto.get('identificador_interno')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>

        <div class="contenedor-input">
          <input
            type="text"
            placeholder=" "
            formControlName="proveedor_id"
            style="cursor: default"
            (click)="showModal = true"
            readonly
            placeholder=" "
            #claveCatastral
            (keydown.enter)="searchProveedor(null, null)"
          />
          <label for="">Proveedor</label>
          <label for="">Ingrese</label>
          <p
            class="smsError"
            *ngIf="formProducto.get('proveedor_id')?.touched && formProducto.get('proveedor_id')?.errors?.['required']"
          >
            El campo no puede estar en blanco
          </p>
        </div>
          </div>

      <div class="contenedor-botones">
        <button type="button" (click)="cerrarModal()">CANCELAR</button>
        <button type="submit" [disabled]="formProducto.invalid">GUARDAR</button>
      </div>
    </form>
  </div>
</div>

<!-- ? MODAL PARA MOSTRAR LAS PROPIEDADES Y PODER SELECCIONAR ALGUNA  -->
<div class="container-modal" *ngIf="showModal" (click)="showModal = false">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="header">
      <button (click)="showModal = false">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <input
        type="search"
        #search
        placeholder="Buscar"
        (keyup)="searchProveedor(search.value, $event)"
      />
    </div>
    <div class="body">
      <div class="header-table">
        <div>Correo</div>
        <div>Nombre</div>
        <div>Nombre de contacto</div>
        <div>Notas</div>
        <div>Rfc</div>

        <!-- <div>Cantidad</div> -->
      </div>
      <div class="body-table">
        <div
          class="contenedor-element-table"
          *ngFor="let proveedor of proveedores"
          (click)="selectProveedor(proveedor)"
        >
          <div>
            <p title="{{ proveedor.correoContacto }}">
              {{ proveedor.correoContacto }}
            </p>
          </div>
          <div>
            <p title="{{ proveedor.nombre }}">
              {{ proveedor.nombre }}
            </p>
          </div>
          <div>
            <p title="{{ proveedor.nombreContacto }}">
              {{ proveedor.nombreContacto }}
            </p>
          </div>
          <div>
            <p title="{{ proveedor.notas }}">
              {{ proveedor.notas }}
            </p>
          </div>
          <div>
            <p title="{{ proveedor.rfc }}">
              {{ proveedor.rfc }}
            </p>
          </div>
          <!-- <div><p title="{{producto.cantidad}}">{{producto.cantidad}}</p></div> -->
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</div>
