<div
  class="w3-modal-content w3-card-4 w3-animate-zoom"
  style="max-width: 800px; padding-left: 15px"
>
  <div class="w3-center">
    <br />
   
    <span
      (click)="cerrarModal()"
      class="w3-button w3-xlarge w3-hover-red w3-display-topright"
      title="Close Modal"
      style="position: absolute"
      >&times;</span
    >
    <!-- <img
      src="../../../../../assets/administraccion.svg"
      alt="Avatar"
      style="width: 30%"
      class="w3-circle w3-margin-top"
    /> -->
  </div>

  <div class="modal" (click)="$event.stopPropagation()">
    <div class="header">
  
      <input
        type="search"
        #search
        placeholder="Buscar"
        (keyup)="searchPropietario(search.value, $event)"
      />
    </div>
    <div class="body">
      <div class="header-table">
        <div>id</div>
        <div>Nombre</div>
        <div>Correo</div>
        <div>Celular</div>
       

      
      </div>
      <div class="body-table">
        <div
          class="contenedor-element-table"
          *ngFor="let propietarios of propietariosData"
          (click)="selectpropietarios(propietarios)"
        >
          <div>
            <p title="{{ propietarios.id }}">
              {{ propietarios.id }}
            </p>
          </div>
          <div>
            <p title="{{ propietarios.nombre }}">
              {{ propietarios.nombre }}
            </p>
          </div>
          <div>
            <p title="{{ propietarios.correo }}">
              {{ propietarios.correo }}
            </p>
          </div>
          <div>
            <p title="{{ propietarios.celular }}">
              {{ propietarios.celular }}
            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="footer"></div>


  
</div>



<!-- 

<div class="container-modal" *ngIf="showModal" (click)="showModal = false">
 
  </div>
</div> -->
