
<!-- <div class="buttonAdd">

    <div class="col-3 input-effect">
        <input class="effect-21" type="text" placeholder="">
          <label>Search</label>
          <span class="focus-border">
            <i></i>
          </span>
      </div>
   
     <div class="form__group field">
        <input type="input" class="form__field" placeholder="busqueda" name="name" id='name' required />
        <label for="name" class="form__label">Search</label>
      </div> 
      <div class="add" >
        <button class="button-23" type="button" role="button">AGREGAR </button>
      </div>
   
</div> -->



<div class="div-tabla">
<app-list-cuotas-conf-ingrs-pagos [ingresosConfPagos]="ingresosData" ></app-list-cuotas-conf-ingrs-pagos>
</div>

