
<!-- <div class="buttonAdd">

    <div class="col-3 input-effect">
        <input class="effect-21" type="text" placeholder="">
          <label>Search</label>
          <span class="focus-border">
            <i></i>
          </span>
      </div>
   
     <div class="form__group field">
        <input type="input" class="form__field" placeholder="busqueda" name="name" id='name' required />
        <label for="name" class="form__label">Search</label>
      </div> 
      <div class="add" >
        <button class="button-23" type="button" role="button">AGREGAR </button>
      </div>
   
</div> -->

<section class="contenedor-componente">
  <div class="cardview">
    <div class="cardview-header">
      <button class="l-btn-d" [routerLink]="'/dashboard/'+this.regConfPagoRoute">+ REGISTRAR CONFIGURACION DE PAGO</button>

      <div class="container-filtros">
        <div class="filtro" style="width: 50%;">
          <label for="">TIPO DE PAGO</label>
          <select (change)="onSelectChangeTipoPago($event)">
            <option value="-1">Todo</option>
            <option value="ORDINARIO">ORDINARIO</option>
            <option value="EXTRAORDINARIO">EXTRAORDINARIO</option>
            <!-- <option value="{{propiedad.id}}" *ngFor="let propiedad of propiedades">{{propiedad.descripcion}} </option> -->
          </select>
        </div>
        <!-- <div class="filtro">
          <label for="">Tipo</label>
          <select (change)="onSelectChangeTipoVehiculo($event)">
            <option value="0">Todos los tipos</option>
            <option value="{{tipovehiculo.id}}" *ngFor="let tipovehiculo of tiposvehiculo">{{tipovehiculo.nombre}}
            </option>
          </select>
        </div> -->
        <div class="container-search">
          <a style="cursor: pointer;" (click)="animacionSearch()"><img
              src="../../../../../../assets/magnifying-glass-solid.svg" width="20px" height="20px" alt=""></a>
          <input id="inputSearch" type="text" placeholder="Buscar" name="" #search
            (keyup)="searchConfIngreso(search.value ,$event)">
          <a style="cursor:pointer;" class="cerrarInputSearch" (click)="cerrarAnimacioneSearch()"><img
              src="../../../../../../assets/xmark-solid (1).svg" width="20px" height="20px" alt=""></a>
        </div>
      </div>


    </div>

<app-list-cuotas-conf-ingrs-pagos [ingresosConfPagos]="ingresosData" ></app-list-cuotas-conf-ingrs-pagos>

  </div>
</section>
