<section class="contenedor-componente">
    <div class="cardview" >

          <!--CONTENEDOR TICKET FLOTANTE-->
          <div class="contenedor-ticket" *ngIf="registrosPendientesTemp != null">
            <div class="nav">
                <button class="l-btn-outline" (click)="cerrarModal()">X</button>
            </div>
            <div class="header">
                <h1>CUENTA</h1>
                <p style="color: var(--ColorDanger);" *ngIf="registrosPendientesTemp.expired == true">Acceso expirado</p>
                <p style="color: var(--ColorWarning);" *ngIf="registrosPendientesTemp.expired == false">Acceso pendiente</p>
            </div>
            <div class="body">
                <div class="container-opciones">
                    <label for="">Confirmación de acceso</label>
                    <!--
                    <p *ngIf="registrosPendientesTemp.expired == false">{{urlDominio}}registros/registro/acptContrsAdmnFracc?token={{registrosPendientesTemp.token}}</p>
                    -->
                    <textarea readonly *ngIf="registrosPendientesTemp.expired == false">{{urlDominio}}registros/registro/acptContrsAdmnFracc?token={{registrosPendientesTemp.token}}</textarea>
                    
                    <button class="l-btn-d" (click)="reenviarconfirmacionDeAcceso(registrosPendientesTemp)">Reenviar</button>
                    <button class="l-btn-d eliminar">Eliminar</button>
                </div>

            </div>
            <div class="footer">
              
            </div>
        </div>


        <div class="cardview-header" >
            <button class="l-btn-d" routerLink="/dashboard/usuarios/registro">+ REGISTRAR USUARIO</button>
        </div>

        <div class="cardview-body" >
            <div class="header-table" >
                <div>Nombre</div>
                <div>Email</div>
                <div>Rol</div>
                <div>Acceso</div>
            </div>
            <div class="body-table">
             
                <div class="contenedor-element-table" *ngFor="let usuario of usuarios" >
                    <div>{{usuario.nombre}} {{usuario.apellido}}</div>
                    <div>{{usuario.correo}}</div>
                   <div>
                       <p *ngFor="let roles of usuario.roles"> {{roles.descripcion}}</p>
                   </div>
                    <div style="color: var(--ColorSuccess);">ACTIVO</div>
                </div>
                <!--LISTADO PARA REGISTROS DE USUARIOS PENDIENTES-->
                <p class="separador-listado">Cuentas pendientes</p>
                <div class="contenedor-element-table" *ngFor="let registro of registrosPendientes" (click)="opcionesParaCuentasPendientes(registro)" >
                    <div>{{registro.nombre}} {{registro.apellidos}}</div>
                    <div>{{registro.correo}}</div>
                   <div>
                       {{registro.rol}}
                   </div>
                    <div title="Token de acceso para registro de cuenta">
                        <p title="El token de acceso expiro" *ngIf="registro.expired == true" style="color: var(--ColorDanger);">EXPIRADO</p>
                        <p title="Verificacion de correo en proceso"  *ngIf="registro.expired == false" style="color: var(--ColorWarning);">PENDIENTE</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
