<div class="main">
  <section class="contenedor-componente" style="height: auto; width: auto;">
    <div class="cardview">
      <form class="form" (keydown.enter)="$event.preventDefault()" [formGroup]="FormEgresos" (ngSubmit)="enviarModal()">
        <div class="contenedor-grid-1">
          <!-- descripcion -->
          <div class="contenedor-input">
            <input type="text" placeholder=" " formControlName="descripcion" />
            <label for="">Descripción</label>
            <label for="">Ingrese</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('descripcion')?.touched && FormEgresos.get('descripcion')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>

          <div class="contenedor-input">
            <button type="button" (click)="clickInputFile()" style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
              " placeholder=" ">
              Comprobante <i class="fa fa-file-pdf"></i>
            </button>
            <input id="inputFile" type="file" accept="application/pdf" (change)="onFileSelected($event)"
              style="display: none" formControlName="comprobanteUrl" />
            <a *ngIf="selectedFile" style="
                color: var(--ColorWa);
                font-size: 11px;
                margin-top: 10px;
                text-decoration: underline;
                cursor: pointer;
              " (click)="previewFile()">Comprobante seleccionado</a>
          </div>

          <!-- montoTotal -->
          <div class="contenedor-input">
            <input type="text" placeholder=" " formControlName="montoTotal" />
            <label for="">Monto Total</label>
            <label for="">Ingrese</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('montoTotal')?.touched && FormEgresos.get('montoTotal')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>

          <div class="contenedor-input">
            <input type="date" placeholder=" " formControlName="fechaPago" />
            <label for="">Fecha de pago</label>
            <label for="">Ingrese</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('fechaPago')?.touched && FormEgresos.get('fechaPago')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>

          <div class="contenedor-input">
            <select formControlName="isVerified">
              <option value="0">NO</option>
              <option value="1">SI</option>
            </select>
            <label for="">Verificado</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('isVerified')?.touched && FormEgresos.get('isVerified')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>



          <div class="contenedor-input">
            <select  (change)="tipoEgresoSeleccionado(tipoEgresoSelect)" #tipoEgresoSelect formControlName="tipoEgreso" style="width: 230px">
              <option  value="{{ tiposEgreso.id }}" *ngFor="let tiposEgreso of tiposEgresos">
                {{ tiposEgreso.descripcion }}
              </option>
            </select>
            <label for="">Tipo de egreso</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('tipoEgreso')?.touched && FormEgresos.get('tipoEgreso')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>
          <!-- 
          <div class="contenedor-input">
            <select formControlName="estatusEgreso">
              <option value="0">APROBADO</option>
              <option value="1">PENDIENTE</option>
              <option value="2">CANCELADO</option>

            </select>
            <label for="">Estatus Egreso</label>
            <p
              class="smsError"
              *ngIf="FormEgresos.get('estatusEgreso')?.touched && FormEgresos.get('isVerified')?.errors?.['required']"
            >
              El campo no puede estar en blanco
            </p>
          </div> -->


          <div class="contenedor-input">
            <select formControlName="tipoPago">
              <option value="T/C">T/C</option>
              <option value="T/D">T/D</option>
              <option value="CHEQUE">CHEQUE</option>
              <option value="EFECTIVO">EFECTIVO</option>
              <option value="TRANSFERENCIA">TRANSFERENCIA</option>

            </select>
            <label for="">Tipo de pago</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('tipoPago')?.touched && FormEgresos.get('tipoPago')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>


          <div class="contenedor-input">
            <input type="text" placeholder=" " formControlName="proveedorId"
            style="cursor: default"
            (click)="showModal = true"
            (click)="this.FormElejido = 'FE'"
            readonly
            placeholder=" "
            #claveCatastral
            (keydown.enter)="searchProveedorEgrs(null, null)"
            >
            <label for="">Proveedor</label>
            <label for="">Ingrese</label>
            <p class="smsError"
                *ngIf="FormEgresos.get('proveedorId')?.touched && FormEgresos.get('proveedorId')?.errors?.['required']">
                El campo no puede estar en blanco</p>
        </div>
        </div>

        <div class="contenedor-botones">
          <button type="button" routerLink="/dashboard/egresos">
            CANCELAR
          </button>
          <button type="submit" [disabled]="FormEgresos.invalid">
            GUARDAR
          </button>
        </div>
      </form>
    </div>
  </section>



  <!-- <div *ngIf="this.egresoData" >
    <app-list-detalles-egresos  [dataDetallesEgreso]="this.egresoData.detalleEgreso"></app-list-detalles-egresos>
    </div> -->


    <section class="contenedor-componente" style="height: auto; width: auto;">
      
      <div class="cardview">
        <h5 style="padding: 0; margin: 0;" >Tipo de egreso</h5>
        <form class="form" (keydown.enter)="$event.preventDefault()" [formGroup]="FormTipoEgreso" (ngSubmit)="enviarModalTE()">
          <div class="contenedor-grid-1">
            <!-- descripcion -->
            <div class="contenedor-input">
              <input type="text" placeholder=" " formControlName="descripcion" />
              <label for="">Descripción</label>
              <label for="">Ingrese</label>
              <p class="smsError"
                *ngIf="FormTipoEgreso.get('descripcion')?.touched && FormTipoEgreso.get('descripcion')?.errors?.['required']">
                El campo no puede estar en blanco
              </p>
            </div>

            <div class="contenedor-input">
              <input type="text" placeholder=" " formControlName="proveedor"
              style="cursor: default"
              (click)="showModal = true"
              (click)="this.FormElejido = 'FTE'"
              readonly
              placeholder=" "
              #claveCatastral
              (keydown.enter)="searchProveedor(null, null)"
              >
              <label for="">Proveedor</label>
              <label for="">Ingrese</label>
              <p class="smsError"
                  *ngIf="FormTipoEgreso.get('proveedor')?.touched && FormTipoEgreso.get('proveedor')?.errors?.['required']">
                  El campo no puede estar en blanco</p>
          </div>
  
    
          </div>
  
          <div class="contenedor-botones">
            <!-- <button type="button" routerLink="/dashboard/egresos">
              CANCELAR
            </button> -->
            <button type="submit" [disabled]="FormTipoEgreso.invalid">
              GUARDAR
            </button>
          </div>
        </form>
      </div>
    </section>
  
</div>










<!-- ? MODAL PARA MOSTRAR LAS PROPIEDADES Y PODER SELECCIONAR ALGUNA  -->
<div class="container-modal" *ngIf="showModal" (click)="showModal = false">
  <div class="modal" (click)="$event.stopPropagation()">
      <div class="header">
          <button (click)="showModal = false">
              <i class="fa-solid fa-xmark"></i>
          </button>
          <input type="search" #search placeholder="Buscar" (keyup)="searchProveedor(search.value, $event)" />
      </div>
      <div class="body">
          <div class="header-table">
              <div>Correo</div>
              <div>Nombre</div>
              <div>Nombre de contacto</div>
              <div>Notas</div>
              <div>Rfc</div>

              <!-- <div>Cantidad</div> -->
          </div>
          <div class="body-table">
              <div class="contenedor-element-table" *ngFor="let proveedor of proveedores"
                  (click)="selectProveedor(proveedor)">
                  <div>
                      <p title="{{ proveedor.correoContacto }}">{{ proveedor.correoContacto }}</p>
                  </div>
                  <div>
                      <p title="{{ proveedor.nombre }}">
                          {{ proveedor.nombre }}
                      </p>
                  </div>
                  <div>
                      <p title="{{ proveedor.nombreContacto }}">
                          {{ proveedor.nombreContacto }}
                      </p>
                  </div>
                  <div>
                      <p title="{{ proveedor.notas }}">
                          {{ proveedor.notas }}
                      </p>
                  </div>
                  <div>
                      <p title="{{ proveedor.rfc }}">
                          {{ proveedor.rfc }}
                      </p>
                  </div>
                  <!-- <div><p title="{{producto.cantidad}}">{{producto.cantidad}}</p></div> -->
              </div>
          </div>
      </div>
      <div class="footer"></div>
  </div>
</div>