<div class="main">
  <section class="contenedor-componente" style="height: auto; width: auto;">
    <div class="cardview">
      <form class="form" (keydown.enter)="$event.preventDefault()" [formGroup]="FormEgresos" (ngSubmit)="enviarModal()">
        <div class="contenedor-grid-1">
          <!-- descripcion -->
          <div class="contenedor-input">
            <input type="text" placeholder=" " formControlName="descripcion" />
            <label for="">Descripción</label>
            <label for="">Ingrese</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('descripcion')?.touched && FormEgresos.get('descripcion')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>

          <div class="contenedor-input">
            <button type="button" (click)="clickInputFile()" style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
              " placeholder=" ">
              Comprobante <i class="fa fa-file-pdf"></i>
            </button>
            <input id="inputFile" type="file" accept="application/pdf" (change)="onFileSelected($event)"
              style="display: none" formControlName="comprobanteUrl" />
            <a *ngIf="selectedFile" style="
                color: var(--ColorWa);
                font-size: 11px;
                margin-top: 10px;
                text-decoration: underline;
                cursor: pointer;
              " (click)="previewFile()">Comprobante seleccionado</a>
          </div>

          <!-- montoTotal -->
          <div class="contenedor-input">
            <input type="text" placeholder=" " formControlName="montoTotal" />
            <label for="">Monto Total</label>
            <label for="">Ingrese</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('montoTotal')?.touched && FormEgresos.get('montoTotal')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>

          <div class="contenedor-input">
            <input type="date" placeholder=" " formControlName="fechaPago" />
            <label for="">Fecha de pago</label>
            <label for="">Ingrese</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('fechaPago')?.touched && FormEgresos.get('fechaPago')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>

          <div class="contenedor-input">
            <select formControlName="isVerified">
              <option value="0">NO</option>
              <option value="1">SI</option>
            </select>
            <label for="">Verificado</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('isVerified')?.touched && FormEgresos.get('isVerified')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>



          <div class="contenedor-input">
            <select formControlName="tipoEgreso" style="width: 230px">
              <option value="{{ tiposEgreso.id }}" *ngFor="let tiposEgreso of tiposEgresos">
                {{ tiposEgreso.descripcion }}
              </option>
            </select>
            <label for="">Tipo de egreso</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('tipoEgreso')?.touched && FormEgresos.get('tipoEgreso')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>
          <!-- 
          <div class="contenedor-input">
            <select formControlName="estatusEgreso">
              <option value="0">APROBADO</option>
              <option value="1">PENDIENTE</option>
              <option value="2">CANCELADO</option>

            </select>
            <label for="">Estatus Egreso</label>
            <p
              class="smsError"
              *ngIf="FormEgresos.get('estatusEgreso')?.touched && FormEgresos.get('isVerified')?.errors?.['required']"
            >
              El campo no puede estar en blanco
            </p>
          </div> -->


          <div class="contenedor-input">
            <select formControlName="tipoPago">
              <option value="T/C">T/C</option>
              <option value="T/D">T/D</option>
              <option value="CHEQUE">CHEQUE</option>
              <option value="EFECTIVO">EFECTIVO</option>
              <option value="TRANSFERENCIA">TRANSFERENCIA</option>

            </select>
            <label for="">Tipo de pago</label>
            <p class="smsError"
              *ngIf="FormEgresos.get('tipoPago')?.touched && FormEgresos.get('tipoPago')?.errors?.['required']">
              El campo no puede estar en blanco
            </p>
          </div>
        </div>

        <div class="contenedor-botones">
          <button type="button" routerLink="/dashboard/egresos">
            CANCELAR
          </button>
          <button type="submit" [disabled]="FormEgresos.invalid">
            GUARDAR
          </button>
        </div>
      </form>
    </div>
  </section>



  <!-- <div *ngIf="this.egresoData" >
    <app-list-detalles-egresos  [dataDetallesEgreso]="this.egresoData.detalleEgreso"></app-list-detalles-egresos>
    </div> -->
</div>