<!-- 

<table id="principal">
    <tr>
      <th>Nombre(s)</th>
      <th>Contacto</th>
      <th>Propiedad</th>
    </tr>
  <tr>
   
  </tr>

  
      
  <tr  *ngFor="let usuario of usuarios"  
  (click)="abrirModal(usuario.id, usuario.nombre, usuario.apellido, usuario.correo, usuario.propiedad)"  
  onclick="document.getElementById('id01').style.display='block'">
  
    <td>{{usuario.nombre}} {{usuario.apellido}}</td>
    <td>{{usuario.correo}}</td>
    <td>{{usuario.propiedad}}</td>
  
  </tr>
  

      <tr>
        <td>Paris spécialités</td>
        <td>alfred@gmail.com</td>
        <td>France</td>
      </tr>


      
  </table> -->



<section class="contenedor-componente">
  <div class="cardview">


    <div class="searchInpt">
      <div class="cardview-header">
        <button class="l-btn-d" routerLink="/dashboard/vehiculos/registro">+ REGISTRAR PROPIEDAD</button>
      </div>

      <div class="col-3 input-effect">
        <input class="effect-21" type="text" placeholder="">
        <label>Search</label>
        <span class="focus-border">
          <i></i>
        </span>
      </div>
    </div>
    <div class="cardview-body">
      <div class="header-table">
        <div>ID</div>
        <div>ID Fraccionamiento</div>
        <div>Descripción</div>
        <div>Monto</div>
        <div>Periodo</div>
        <div>Tipo de Pago</div>
        <div>Porcentaje de Descuento</div>
        <div>Porcentaje de Penalización</div>
        <div>Días Máximos de Descuento</div>
        <div>Días Máximos de Pago</div>
        <div>Fecha Inicial</div>
        <div>Estatus</div>
        <div>Fecha de Creación</div>
        <div>Fecha de Actualización</div>
      </div>
      <div class="body-table">
        <div class="contenedor-element-table" *ngFor="let confPagos of ingresosConfPagos"
          (click)="abrirModal(confPagos)">
          <div>{{ confPagos.id }}</div>
          <div>{{ confPagos.id_fraccionamiento }}</div>
          <div>{{ confPagos.descripcion }}</div>
          <div>{{ confPagos.monto }}</div>
          <div>{{ confPagos.periodo }}</div>
          <div>{{ confPagos.tipo_pago }}</div>
          <div>{{ confPagos.porcentaje_descuento }}</div>
          <div>{{ confPagos.porcentaje_penalizacion }}</div>
          <div>{{ confPagos.dias_max_descuento }}</div>
          <div>{{ confPagos.dias_max_pago }}</div>
          <div>{{ confPagos.fecha_inicial }}</div>
          <div>{{ confPagos.estatus }}</div>
          <div>{{ confPagos.created_at }}</div>
          <div>{{ confPagos.updated_at }}</div>
        </div>
      </div>
    </div>
  </div>
</section>


<div *ngIf="this.currentConfPago">
  <app-modal-gestion-conf-pago id="id01" class="w3-modal" [cerrarModal]="envModal"
    [confPagosDatos]="this.currentConfPago"></app-modal-gestion-conf-pago>
</div>
