<section class="contenedor-componente">
    <div class="cardview" >


        <div class="cardview-header" >
            <button class="l-btn-d" routerLink="/dashboard/proveedores/registro">+ REGISTRAR PROVEEDOR</button>
            <div class="container-filtros">
               
                <div class="filtro">
                </div>
                <div class="container-search" >
                    <a style="cursor: pointer;" (click)="animacionSearch()" ><img src="../../../../../../assets/magnifying-glass-solid.svg" width="20px" height="20px" alt=""></a>  
                    <input id="inputSearch" type="text" placeholder="Buscar" name="" #search  (keyup)="searchVehiculo(search.value ,$event)">
                    <a style="cursor:pointer;" class="cerrarInputSearch" (click)="cerrarAnimacioneSearch()"><img src="../../../../../../assets/xmark-solid (1).svg" width="20px" height="20px" alt=""></a>
                </div>
                  </div>
        </div>

        <div class="cardview-body" >
            <div class="header-table" >
                <div>Correo</div>
                <div>Proveedor</div>
                <div>RFC</div>
            </div>
            <div class="body-table">
             
                <div class="contenedor-element-table" *ngFor="let proveedor of proveedores" routerLink='/dashboard/proveedores/editar/{{proveedor.id}}'>
                    <div> <p title="{{proveedor.correoContacto}}">{{proveedor.correoContacto}}</p></div>
                    <div><p title="{{proveedor.nombreContacto}}">{{proveedor.nombreContacto}}</p></div>
                    <div><p title="{{proveedor.rfc}}">{{proveedor.rfc}}</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
